html, body{
	font: 13px Arial, sans-serif;
}

h1{
	font-family: Georgia;
	font-size: 28px;
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: center;
	font-weight: normal;
	color: #222;
}

h2{
	font-family: "Lucida Grande", Tahoma;
	font-size: 12px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #666666;
	margin-top: 10px;
	text-align: center!important;
	letter-spacing: 0.3em;

}

#canvas{
	background-color: white;
}

#wrapper{
	margin: 0 auto;
	background: #f5f5f5;
	width: 780px;
}

.row{
	width: 100%;
	min-height: 20px;
	padding: 10;
}

.button{
	background-color: rgb(34, 95, 207);
	color: white;
	height: 25px;
	border: 0;
	margin: 5px;
}

.button:disabled{
	background-color: rgb(172, 201, 255);
}

#phase{
	background-color: white;
	padding: 5px;
	width: 745px;
	font-size: 15pt;
	text-align: center;
	border: 1px dotted black; 
}